#nav {
	width: 75%;
	background-color: #070213;
	box-shadow: 1px 1px rgb(10,50,30,0.7)
}
body {
	background: url("./assets/forest.jpeg");
	background-size: 100% 70%;
	background-repeat: no-repeat;
	padding-bottom: 75em;
}
#landing-card {
	left: 15%;
	width: 40%;
	top: 240px;
}
#wc {
	--bs-text-opacity: 0.4;
	font-weight: 750;
}
#big {
	font-weight: 1000;
}
#phone {
	right: 5%;
	top: 12em;

}
#scroll-bar {
	right: 1%;
	top: 30em;

}
.rotate {
	transform: rotate(90deg);
}
.icon {
	width: 1em;
	height: 1em;
}
#scroll-text {
	font-size: 0.5em;
}
